.fade-out-image { 
  animation: fadeOut 22s;
  animation-delay: 24s; /* 240s */
  animation-fill-mode: forwards;
}

@keyframes fadeOut { 
	0% { opacity: 1; visibility: visible; } 
	100% { opacity: 0; visibility: hidden; }
} 

@keyframes fadeIn { 
	0% { opacity: 0; visibility: hidden; } 
	100% { opacity: 1; visibility: visible; }
} 

.seeyouBox
    {position:relative;}
.seeyou
    {position: absolute;
	bottom: 0px;	
	right: 25px;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 3vh;
	font-style: italic;
	font-family: math;
/*	font-family: "ITC Cheltenham Pro Bold Italic", serif; */
      animation: fadeIn 10s;
	animation-delay: 26s; /* fadeOut animation + delay - 10s = 252s */
	animation-fill-mode: backwards;}
