.fade-out-image { 
  animation: fadeOut 22s;
  animation-delay: 240s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut { 
	0% { opacity: 1; visibility: visible; } 
	100% { opacity: 0; visibility: hidden; }
} 

@keyframes fadeIn { 
	0% { opacity: 0; visibility: hidden; } 
	100% { opacity: 1; visibility: visible; }
} 

.seeyouBox
    {position:relative;}
.seeyou
    {position: absolute;
	bottom: 0px;	
	right: 25px;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 3vh;
	font-style: italic;
      animation: fadeIn 10s;
	animation-delay: 260s;
	animation-fill-mode: backwards;}
